@* @model IEnumerable<DataObject.Service>
@{
    Layout = null;
}
<!-- font awesome cdn link  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<!-- custom css file link  -->
<link rel="stylesheet" href="~/css/ListStyle.css">
<!-- Product List Section -->
<section class="shop">
    <h2 class="heading">Our <span>Products</span></h2>

    <!-- Search Bar -->
    <div class="search-bar">
        <input type="text" id="search-input" placeholder="Search for services...">
        <button onclick="searchProducts()">Search</button>
    </div>

    <div id="products-container" class="products-container">
        <!-- Products will be displayed here -->
        @foreach (var service in Model)
        {
            <div class="product-box">
                <form asp-action="PlanAService" method="post" asp-controller="Service">
                    <input type="hidden" name="serviceId" value="@service.ServiceId" />
                    <input type="hidden" name="quantity" value="1" />
                    <input type="hidden" name="serviceName" value="@service.ServiceName" />
                    <input type="hidden" name="unitPrice" value="@service.UnitPrice" />
                    <img src="@Url.Action("GetImage", "User", new { fileName = product.Image })" alt="Product Image">
                    <h3>@product.ProductName</h3>
                    <div class="category">Category: @product.Category.CategoryName</div>
                    <div class="price">@product.UnitPrice vnd</div>
                    @* <a href="#" class="btn">Add to Cart</a> *@
                   @*  <button type="submit" class="btn">Add to Cart</button>
                    <a href="/Products/Details/@product.ProductId" class="btn secondary">View Detail</a>
                </form>
            </div>
        }
    </div>
</section>
<script src="~/js/ListScript.js"></script>
 *@